<?xml version="1.0"  ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tai_ProductLabel::index"
             title="Product Label"
             module="Tai_ProductLabel"
             parent="Magento_Catalog::inventory"
             resource="Tai_ProductLabel::productlabels"
             action="product_label/label/index" />
    </menu>
</config>